# 빌드 파일 무시
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Maven 빌드 디렉토리
/target/

# Gradle 빌드 디렉토리
/build/

# 로그 파일
*.log

# 운영체제별 파일 무시
.DS_Store
Thumbs.db

# 환경설정 파일 무시
*.env
*.iml
